<a href="https://colab.research.google.com/github/dtype2100/Python/blob/master/kakao_preprocessing_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('')

In [ ]:
df

,ID,stores,X,Y,road_address,place_url,menu,category,business_hours,rating,phone_number,last_update
0,20908598,공차 영등포구청점,126.897061,37.526699,서울 영등포구 당산로 136,http://place.map.kakao.com/20908598,"['브라운슈가 치즈폼 스무디(L)', '브라운슈가 쥬얼리 밀크티(L)', '망고 스...",공차,월~금 10:30 ~ 22:00,4.3,02-2633-0789,2021.04.29.
1,1714644708,이도숙성회,126.896237,37.526695,서울 영등포구 당산로31길 4,http://place.map.kakao.com/1714644708,"['모듬초밥(12p)', '생연어초밥(10p)', '모듬숙성회(중)', '서더리탕'...",회,월~토 11:00 ~ 22:00,3.9,02-2636-5888,2022.02.16.
2,27527233,까치네분식,126.896689,37.527085,서울 영등포구 당산로 139,http://place.map.kakao.com/27527233,"['순두부찌개', '김치찌개', '비빔밥', '수제등심돈까스', '떡볶이', '참치...",분식,월~토 07:30 ~ 21:30,3.0,02-2068-3436,2022.05.20.
3,22246273,푸른농장 해바라기생고기정육식당 영등포점,126.896155,37.527045,서울 영등포구 당산로33길 5,http://place.map.kakao.com/22246273,"['소한마리', '소반마리', '삼겹살', '오겹살', '목살', '가브리살', '...","육류,고기",NaN,4.0,02-3667-1777,2022.03.22.
4,19609040,사조참치 영등포구청점,126.896554,37.526706,서울 영등포구 당산로 133,http://place.map.kakao.com/19609040,"['메뉴판', 'VIP 특선 (1人)', '사조 특선 (1人)', '사조 스페셜 (...",참치회,NaN,4.4,02-2069-2475,2022.08.18.
...,...,...,...,...,...,...,...,...,...,...,...,...
1407,15681007,엄니식당,126.931091,37.526241,서울 영등포구 여의나루로 117,http://place.map.kakao.com/15681007,NaN,한식,NaN,2.8,02-785-1007,2022.04.05.
1408,560071396,머글거리,126.935073,37.528453,서울 영등포구 여의동로 338,http://place.map.kakao.com/560071396,"['호로록떡볶이', '닭꼬치', '오뎅', '우동', '반건조오징어']",분식,NaN,1.5,070-4272-8160,2021.04.17.
1409,8279880,다락방청국장,126.931091,37.526241,서울 영등포구 여의나루로 117,http://place.map.kakao.com/8279880,NaN,한식,NaN,3.0,02-780-2009,2022.07.08.
1410,758847688,쿡스테이크,126.932853,37.527045,서울 영등포구 여의동로 지하 343,http://place.map.kakao.com/758847688,NaN,"스테이크,립",NaN,0.0,010-3047-6687,2019.12.16.
1411,1844515946,미스터리키친,126.932974,37.527133,서울 영등포구 여의동로 지하 343,http://place.map.kakao.com/1844515946,NaN,패스트푸드,NaN,0.0,010-7773-0960,2019.12.16.

In [ ]:
category = df['category'].value_counts()

In [ ]:
len(df['category'].unique())

220

In [ ]:
df['category']

0           공차
1            회
2           분식
3        육류,고기
4          참치회
         ...
1407        한식
1408        분식
1409        한식
1410    스테이크,립
1411     패스트푸드
Name: category, Length: 1412, dtype: object

In [ ]:
pd.DataFrame(category)

            category
한식               146
카페               138
육류,고기             67
호프,요리주점           61
커피전문점             57
...              ...
맛있는술집여기미술관         1
청년다방               1
철판요리               1
떡카페                1
박가부대               1

[219 rows x 1 columns]

In [ ]:
df[df['category'].isna()]

,ID,stores,X,Y,road_address,place_url,menu,category,business_hours,rating,phone_number,last_update
40,415461086,1번지통닭 영등포구청점,126.897507,37.526603,서울 영등포구 국회대로34길 9,http://place.map.kakao.com/415461086,NaN,NaN,NaN,NaN,NaN,NaN
809,1043892409,카페숲,126.907688,37.528752,서울 영등포구 버드나루로 119,http://place.map.kakao.com/1043892409,NaN,NaN,NaN,NaN,NaN,NaN
964,249321718,아이갓에브리씽 국회도서관점,126.917114,37.530995,서울 영등포구 의사당대로 1,http://place.map.kakao.com/249321718,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df['category'] = df['category'].fillna('기타')

In [ ]:
df[df['category'].isna()]

Empty DataFrame
Columns: [ID, stores, X, Y, road_address, place_url, menu, category, business_hours, rating, phone_number, last_update]
Index: []

# 라벨링

In [ ]:
kor = '소호정', '교동전선생', '김가네', '냉면', '국수', '두찜', '국수나무', '뽕잎사랑', '큰맘할매순대국', '종로김밥', '킹콩부대찌개', '철판요리', '일미리금계찜닭', '본죽&비빔밥cafe', '만복국수집', '등촌샤브칼국수', '족발,보쌈', '소공동뚝배기집', '이화수전통육개장', '두부전문점', '연안식당', '육대장', '추어', '곰탕', '곱창,막창', '본죽', '한식뷔페', '감자탕', '한식', '갈비', '국밥', '이차돌', '박가부대', '신촌설렁탕', '한촌설렁탕', '샤브샤브', '한정식', '불고기,두루치기', '찌개,전골', '쌈밥', '구내식당', '해장국', '삼계탕', '사철탕,영양탕', '설렁탕', '양평해장국',  '지짐이', '명인만두'
chi = '홍짜장', '중국요리', '홍콩반점0410', '중식', '피슈마라홍탕',
jap = '기소야', '미소야', '일본식주점', '일식집', '일식', '일본식라면', '초밥,롤', '퓨전일식', '이자카야쇼부'
wes = '스테이크,립', '이탈리안', '양식', '보나베띠'
asian = '베트남음식', '아시아음식', '태국음식', '동남아음식', '포베이'
cafe = '오가다', '퀴즈노스서브', '흑화당', '아티제', '드롭탑', '코코호도', '청년다방', '토프레소', '보네스뻬', '도넛', '호밀호두', '떡카페', '빽다방', '샐러디', '이디야커피', '다방', '파리크라상', '폴바셋', '요거프레소', '아리스타커피', '키즈카페', '샌드위치', '만화카페', '디저트39', '샐러드', '설빙', '메가커피', '배스킨라빈스', '테마카페', '컴포즈커피', '할리스', '커피랑도서관',  '카페마마스', '디저트카페', '공차', '카페', '커피전문점', '제과,베이커리', '커피빈', '엔제리너스', '뚜레쥬르', '떡,한과', '스타벅스', '파리바게뜨', '카페베네', '생과일전문점', '전통찻집', '파스쿠찌', '커피베이', '라이브카페', '투썸플레이스', '던킨도너츠', '북카페', '아이스크림'
fast = '한솥도시락', '도시락', '오봉도시락', '배달도시락', '본도시락', '프랭크버거', '도미노피자', '햄버거',   '패스트푸드', '써브웨이',  '맘스터치',  '버거킹',  '이삭토스트', '토스트'
piza = '7번가피자', '피자스쿨', '피자헛', '피자알볼로', '피자', '미스터피자', '청년피자', '남자피자'
school_food = '분식', '죠스떡볶이', '떡볶이', '병천황토방순대', '강창구찹쌀진순대', '동대문엽기떡볶이', '순대', '오뎅바', '바르다김선생', '찰스숯불김밥'
seafood = '이태원천상', '굴,전복', '해산물', '회', '참치회', '해물,생선', '게,대게',  '사조회참치', '장어', '김영희강남동태찜', '바다양푼이동태탕', '매운탕,해물탕', '복어', '조개'
meat = '신씨화로', '연타발', '육류,고기', '양꼬치', '경성양꼬치',  '오리', '삼겹살', '목우촌웰빙마을', '새마을식당', '하남돼지집'
chicken = '더후라이팬', 'KFC', '깐부치킨', '치킨뱅이', '삼통치킨', '노랑통닭', '치킨', '닭요리', '푸라닭치킨', '바른치킨', '페리카나', '훌랄라', '순살만공격', '피자나라치킨공주', '교촌치킨', '60계', '치킨플러스', '굽네치킨', '거성치킨',  '누구나홀딱반한닭', '본스치킨', 'BHC치킨', '가마로강정'
alcohol = '꼬지사께', '펀비어킹', '칵테일바', '호프,요리주점', '술집', '실내포장마차', '와인바', '한신포차', '맛있는술집여기미술관'
etc = '음식점', '기타', '퓨전요리', '푸드코트', '꽃마름', '뷔페', '돈까스,우동'

kor_df = df[df['category'].isin(kor)] # 1
kor_df['n_cate'] = 'kor'

school_food_df = df[df['category'].isin(school_food)] # 2
school_food_df['n_cate'] = 'school_food'

chi_df = df[df['category'].isin(chi)] # 3
chi_df['n_cate'] = 'chi'

jap_df = df[df['category'].isin(jap)] # 4
jap_df['n_cate'] = 'jap'

wes_df = df[df['category'].isin(wes)] # 5
wes_df['n_cate'] = 'wes'

asian_df = df[df['category'].isin(asian)] # 6
asian_df['n_cate'] = 'asian'

cafe_df = df[df['category'].isin(cafe)] # 7
cafe_df['n_cate'] = 'cafe'

fast_df = df[df['category'].isin(fast)] # 8
fast_df['n_cate'] = 'fast'

sea_df = df[df['category'].isin(seafood)] # 9
sea_df['n_cate'] = 'seafood'

chicken_df = df[df['category'].isin(chicken)] # 10
chicken_df['n_cate'] = 'chicken'

piza_df = df[df['category'].isin(piza)] # 11
piza_df['n_cate'] = 'piza'

meat_df = df[df['category'].isin(meat)] # 12
meat_df['n_cate'] = 'meat'

alcohol_df = df[df['category'].isin(alcohol)] # 13
alcohol_df['n_cate'] = 'alcohol'

etc_df = df[df['category'].isin(etc)] # 14
etc_df['n_cate'] = 'etc'


concat_df = pd.concat([kor_df, school_food_df, chi_df, jap_df, 
                       wes_df, asian_df, cafe_df, fast_df, sea_df, 
                       chicken_df, meat_df, alcohol_df, etc_df])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
concat_df

,ID,stores,X,Y,road_address,place_url,menu,category,business_hours,rating,phone_number,last_update,n_cate
7,1379673133,광명대창집 영등포구청점,126.897125,37.526299,서울 영등포구 당산로32길 2,http://place.map.kakao.com/1379673133,"['대창덮밥', '해물짬뽕', '추천소대창구이(150g)', '막창구이(150g)'...","곱창,막창",NaN,3.6,02-2636-8411,2022.08.08.,kor
8,16708812,본죽 영등포구청점,126.896984,37.526316,서울 영등포구 당산로 132,http://place.map.kakao.com/16708812,"['단호박죽', '낙지김치죽', '삼계죽', '전복죽', '쇠고기야채죽', '신짬뽕...",본죽,매일 09:00 ~ 21:00,3.6,02-2634-7742,2022.06.10.,kor
16,177078961,시골집,126.896200,37.527125,서울 영등포구 당산로33길 5,http://place.map.kakao.com/177078961,NaN,한식뷔페,NaN,5.0,010-7793-2847,2022.04.28.,kor
27,1985593786,은성감자탕,126.897359,37.526721,서울 영등포구 국회대로34길 8-2,http://place.map.kakao.com/1985593786,"['뼈해장국', '뼈우거지탕', '김치뼈해장국', '뼈김치탕(중)', '감자탕(소)']",감자탕,NaN,4.7,NaN,2022.07.14.,kor
28,158556173,찜생찜사 묵은지김치찜,126.897663,37.526700,서울 영등포구 당산로32길 7-7,http://place.map.kakao.com/158556173,"['생삼겹 김치찜(소)', '생목살 김치찜(소)', '스팸 김치찜(소)', '생삼겹...",한식,연중무휴 \n ...,3.1,02-2636-3346,2022.08.11.,kor
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1261,53460752,켄싱턴호텔 여의도 ELF라운지,126.921960,37.530276,서울 영등포구 국회대로76길 16,http://place.map.kakao.com/53460752,"['뉴욕 핑크 버거', '헤산물 샤프론 부야베스', '소고기 크림 스튜와 아란치니'...",뷔페,매일 07:00 ~ 21:00,0.0,02-6670-7331,2020.12.16.,etc
1312,876276548,카레와돈까스,126.924526,37.529751,서울 영등포구 은행로 54,http://place.map.kakao.com/876276548,"['돈까스', '히레까스', '카레라이스', '생선까스', '치즈까스']","돈까스,우동",NaN,3.5,02-782-1137,2022.04.29.,etc
1339,454971325,겐카츠,126.924814,37.529730,서울 영등포구 은행로 54,http://place.map.kakao.com/454971325,NaN,"돈까스,우동",월~금 11:00 ~ 20:30,5.0,NaN,2022.07.21.,etc
1388,1663432648,사누끼,126.929158,37.527963,서울 영등포구 여의대로 128,http://place.map.kakao.com/1663432648,NaN,"돈까스,우동",NaN,2.0,NaN,2021.04.22.,etc
1401,36727652,저팔계마라탕,126.931055,37.526230,서울 영등포구 여의나루로 117,http://place.map.kakao.com/36727652,NaN,음식점,NaN,0.0,NaN,2021.06.23.,etc

In [ ]:
concat_df['n_cate'].value_counts()

kor            364
cafe           349
alcohol        118
meat            99
seafood         89
school_food     79
jap             62
chicken         57
etc             54
chi             44
fast            36
wes             34
asian           11
Name: n_cate, dtype: int64

In [ ]:
#concat_df.to_csv('kakao_preprocessing_3.csv', index=False)

In [ ]:
#concat_df.to_excel('kakao_preprocessing_3.xlsx', index=False)

* 한식
* 분식
* 중식
* 일식
* 양식
* 아시안
* 카페 / 디저트
* 패스트푸드
* 치킨
* 회

In [ ]:
df['category'].value_counts().nlargest(10)#.index

한식         146
카페         138
육류,고기       67
호프,요리주점     61
커피전문점       57
분식          45
중국요리        35
해물,생선       33
제과,베이커리     26
국수          23
Name: category, dtype: int64

In [ ]:
docs = df['category']

In [ ]:
#docs = ','.join(str(v) for v in cate_df)

In [ ]:
docs

In [ ]:
docs.isna().sum()

In [ ]:
from sklearn.cluster import KMeans
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.preprocessing import LabelEncoder

In [ ]:
vectorizer = CountVectorizer()

In [ ]:
vectorized  = vectorizer.fit(docs)

In [ ]:
df

In [ ]:
encoder = LabelEncoder()

In [ ]:
encoder.fit(docs)
labels = encoder.transform(docs)

In [ ]:
#labels = labels.reshape(-1,1)

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
data_scale = scaler.fit_transform(labels.reshape(-1,1))

In [ ]:
km = KMeans(n_clusters=20).fit(data_scale.reshape(-1,1))

In [ ]:
centers = km.cluster_centers_
print(centers)

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
sns.scatterplot(x=df['rating'], y=df['labels'], hue=km.labels_, palette='coolwarm')

In [ ]:
from yellowbrick.cluster.elbow import kelbow_visualizer
from yellowbrick.cluster import KElbowVisualizer

model = KMeans()
visualizer = kelbow_visualizer(model, data_scale, k=(1,10))
visualizer.fit(data_scale)